
$head-color: #FFFFFF;
$head-bac: rgba(0, 0, 0, 0.5);
$head-but: #48924F;
$serv-color: #828282;
$serv-h6: #0D4D14;
$testy-color: #6CB981;
$testy-box: #0D4C14;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=DM+Serif+Display&family=Denk+One&family=Inter&family=Poppins&display=swap');

//font-family: 'Poppins', sans-serif;

// Basic style

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 62.5%;
    // 10 px 
}
.container{
    max-width: 120rem;
    margin: 0 auto;
}

// Header style

header{
    max-width: 190rem;
    margin: 0 auto;
    background-image: url(/img/header/Rectangle.svg);
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 5.8rem;
    padding-bottom: 11.6rem;
    text-align: center;
    .logo{
        display: flex;
        justify-content: center;
        .img{
            width: 7.8rem;
            height: 8.4rem;
            img{
                width: 100%;
            }
        }
        .hed_text{
            margin-left: 2rem;
            h5{
                font-style: normal;
                font-weight: 800;
                font-size: 6rem;
                line-height: 6rem;
                display: flex;
                align-items: center;
                color: $head-color;
            }
            h6{
                font-style: normal;
                font-weight: 800;
                font-size: 2rem;
                line-height: 2rem;
                display: flex;
                align-items: center;
                color: $head-color;
            }
        }
    }
    p{
        font-style: normal;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.7rem;
        color: $head-color;
        border-radius: 59px;
        padding: 1.9rem 4.8rem 1.8rem 4.7rem;
        background-color: $head-bac;
        margin-top: 5rem;
        margin-bottom: 1.7rem;
    }
    h1{
        font-style: normal;
        font-weight: 900;
        font-size: 14.4rem;
        line-height: 13.4rem;
        color: $head-color;
        text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
        margin-bottom: 10rem;
    }
    button{
        font-style: normal;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 2.7rem;
        color: $head-but;
        border: none;
        background: radial-gradient(50% 50% at 50% 50%, $head-color 0%, #F9F9F9 100%);
        box-shadow: 0px 10px 50px rgba(16, 51, 30, 0.5);
        border-radius: 35px;
        padding: 2.2rem 5.3rem;
    }
}

// Services section style

.services_section{
    max-width: 190rem;
    margin: 0 auto;
    border: 1px solid red;
    position: relative;
    padding: 7rem 0 5rem 0;
    h3{
        font-style: normal;
        font-weight: 800;
        font-size: 6.4rem;
        line-height: 9.6rem;
        text-align: center;
        color: $serv-color;
        margin-bottom: 5rem;
    }
    .imge{
        width: 10.9rem;
        height: 9.4rem;
        position: absolute;
        top: 12rem;
        left: 62rem;
        img{
            width: 100%;
        }
    }
    .cards{
        display: flex;
        justify-content: space-between;
        gap: 2.2rem;
        .card{
            width: 33%;
            background: $head-color;
            box-shadow: 0px 10px 30px rgba(16, 51, 30, 0.1);
            border-radius: 3rem;
            .img{
                width: 100%;
                img{
                    width: 100%;
                }
            }
            h6{
                font-style: normal;
                font-weight: 900;
                font-size: 1.6rem;
                line-height: 2.4rem;
                color: $serv-h6;
                margin: 3rem 0 1rem 3rem;
            }
            p{
                font-style: normal;
                font-weight: 400;
                font-size: 1.4rem;
                line-height: 2rem;
                color: $serv-h6;
                margin: 0 3rem 3rem 3rem;
            }
        }
    }
    .serv_but{
        display: flex;
        justify-content: center;
        margin-top: 5rem;
        margin-bottom: 3.5rem;
        button{
            font-style: normal;
            font-weight: 700;
            font-size: 1.8rem;
            line-height: 2.7rem;
            color: $head-but;
            border: none;
            background: $head-color;
            box-shadow: 0px 16px 30px rgba(50, 175, 100, 0.15);
            border-radius: 35px;
            padding: 2.2rem 5.3rem;
        }
    }
}

// About Us section style

.titil{
    max-width: 190rem;
    margin: 0 auto;
    position: relative;
    h3{
        font-style: normal;
        font-weight: 800;
        font-size: 6.4rem;
        line-height: 9.6rem;
        text-align: center;
        color: $serv-color;
        margin-bottom: 5rem;
    }
    .imge{
        width: 10.9rem;
        height: 9.4rem;
        position: absolute;
        top: 4.5rem;
        left: 85rem;
        img{
            width: 100%;
        }
    }
}
.about_us{
    max-width: 190rem;
    margin: 0 auto;
    padding-top: 3.5rem;
    padding-bottom: 5rem;
    background-image: url('/img/About_section/Rectangle.svg');
    background-position: center;
    background-repeat: no-repeat;
    .text_box{
        display: flex;
        justify-content: space-between;
        gap: 6rem;
        margin-top: 15.4rem;
        p{
            width: 33.3%;
            font-style: normal;
            font-weight: 600;
            font-size: 1.8rem;
            line-height: 2.4rem;
            text-align: center;
            color: $head-color;
        }
    }
    .about_but{
        display: flex;
        justify-content: center;
        button{
            font-style: normal;
            font-weight: 700;
            font-size: 1.8rem;
            line-height: 2.7rem;
            color: $head-but;
            border: none;
            background: $head-color;
            box-shadow: 0px 16px 30px rgba(50, 175, 100, 0.15);
            border-radius: 35px;
            padding: 2.2rem 5.3rem;
            margin-top: 5rem;
        }
    }
}

// Testymonials section style

.testymonials_section{
    max-width: 190rem;
    margin: 0 auto;
    padding-top: 7rem;
    padding-bottom: 5rem;
    h3{
        font-style: normal;
        font-weight: 800;
        font-size: 6.4rem;
        line-height: 9.6rem;
        text-align: center;
        color: $serv-color;
        margin-bottom: 7rem;
    }
    .testymonials_card{
        display: flex;
        flex-wrap: wrap;
        gap: 4.5rem;
        .card{
            width: 48%;
            display: flex;
            gap: 1.4rem;
            padding: 3rem 3rem;
            background: $head-color;
            border: 1px solid $testy-color;
            border-radius: 4rem;
            h5{
                font-style: normal;
                font-weight: 700;
                font-size: 1.8rem;
                line-height: 2.2rem;
                color: $testy-color;
            }
            p{
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                color: $testy-box;
            }
            .stars{
                display: flex;
                gap: 0.911rem;
            }
        }
    }
}

// Contact Us section style

.contact_us{
    max-width: 190rem;
    margin: 0 auto;
    padding: 5rem 0;
    h3{
        font-style: normal;
        font-weight: 800;
        font-size: 6.4rem;
        line-height: 9.6rem;
        text-align: center;
        color: $serv-color;
        margin-bottom: 7rem;
    }
    .con_left{
        width: 50%;
        display: flex;
        display: inline;
        input{
            font-style: normal;
            font-weight: 900;
            font-size: 1.4rem;
            line-height: 2.1rem;
            color: $head-color;
            background: #9FDEA9;
            border-radius: 6.1rem;
            padding: 1.7rem 0 1.9rem 2.1rem;
        }
    }
    .con_right{
        width: 50%;
    }
}